* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* navbar start */
.navname img {
    height: 25px;
    width: 116px;
}

.navleft {
    margin-left: 32px;
}

.navleft a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.navleft a:hover {
    color: blue;
    border-bottom: 4px solid blue;
}


.navright {
    margin-left: 240px;
}

.navright a {
    font-size: 14px;
    line-height: 20px;
}

.dropdown {
    display: inline-flex;
    margin-right: 2px;
}

.dropdownitem a:hover {
    background-color: rgb(234, 231, 231);
}

.logintab {
    margin-left: 15px;
    font-size: 13px;
    padding: 8px 10px;
    border-radius: 4px;
    color: gray;
    border: 0.5px solid gray;
    background-color: transparent;
}

.logintab:hover {
    color:
        rgb(135, 206, 235);
    border-color:
        rgb(135, 206, 235);
}

/* navbar end */


/* consult now start */
.consult {
    background-color: rgb(240, 230, 231);
    height: 75vh;
}

.seeall {
    right: 6%;
    top: 16%;
}

.btn {
    background-color: rgb(16, 144, 195);

    height: 50px;
    width: 172px;
}

.onlinedetail img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    object-fit: cover;
    margin-left: -10px;
}

.consultimg img {
    object-fit: cover;
    bottom: 0;
    height: 65%;
    width: 50%;
}

.pulse {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-radius: 50%;
    animation: pulse 1.2s infinite;
    background-color: #aae000;
    margin-left: 6px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(170, 224, 0, 0.6);
    }

    70% {
        transform: scale(1.5);
        box-shadow: 0 0 0 10px rgba(170, 224, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(170, 224, 0, 0);
    }
}

/* consult now end */

/* Specialities start*/
.card {
    height: 300px;
    width: 300px;
}

/* Specialities end*/